.footable {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #000000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  color: #111111;
}
.footable > thead > tr:first-child > th:first-child,
.footable > thead > tr:first-child > td:first-child {
  -moz-border-radius: 0px 0 0 0;
  -webkit-border-radius: 0px 0 0 0;
  border-radius: 0px 0 0 0;
}
.footable > thead > tr:first-child > th.footable-first-column,
.footable > thead > tr:first-child > td.footable-first-column {
  -moz-border-radius: 0px 0 0 0;
  -webkit-border-radius: 0px 0 0 0;
  border-radius: 0px 0 0 0;
}
.footable > thead > tr:first-child > th:last-child,
.footable > thead > tr:first-child > td:last-child {
  -moz-border-radius: 0 8px 0 0;
  -webkit-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}
.footable > thead > tr:first-child > th.footable-last-column,
.footable > thead > tr:first-child > td.footable-last-column {
  -moz-border-radius: 0 8px 0 0;
  -webkit-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}
.footable > thead > tr:first-child > th.footable-first-column.footable-last-column,
.footable > thead > tr:first-child > td.footable-first-column.footable-last-column {
  -moz-border-radius: 0px 8px 0 0;
  -webkit-border-radius: 0px 8px 0 0;
  border-radius: 0px 8px 0 0;
}
.footable > thead > tr > th {
  color: #eee;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  padding: 7px;
  text-align: left;
}
.footable > thead > tr > th,
.footable > thead > tr > td {
  background-color: #AA0000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#AA0000), to(#330000));
  background-image: -webkit-linear-gradient(top, #AA0000, #330000);
  background-image: -moz-linear-gradient(top, #AA0000, #330000);
  background-image: -ms-linear-gradient(top, #AA0000, #330000);
  background-image: -o-linear-gradient(top, #AA0000, #330000);
  background-image: linear-gradient(to bottom, #AA0000, #330000);
  border-top: none;
}
.footable.wff-box-flipped > thead > tr > th,
.footable.wff-box-flipped > thead > tr > td {
  background-color: #00AA00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00AA00), to(#003300));
  background-image: -webkit-linear-gradient(top, #00AA00, #003300);
  background-image: -moz-linear-gradient(top, #00AA00, #003300);
  background-image: -ms-linear-gradient(top, #00AA00, #003300);
  background-image: -o-linear-gradient(top, #00AA00, #003300);
  background-image: linear-gradient(to bottom, #00AA00, #003300);
  border-top: none;
}
.footable > thead > tr > th.footable-first-column,
.footable > thead > tr > td.footable-first-column {
  border-left: none;
}
.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #eeeeee;
}
.footable > tbody img {
  vertical-align: middle;
}
.footable > tbody > tr:hover {
  background: #fbf8e9;
}
.footable > tbody > tr:last-child > td.footable-first-column {
  -moz-border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
}
.footable > tbody > tr:last-child > td.footable-last-column {
  -moz-border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
}
.footable > tbody > tr:last-child > td.footable-first-column.footable-last-column {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.footable > tbody > tr > td {
  font-family: 'Courier New'
  font-size: 0.9em;
  letter-spacing: -1px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 7px;
  text-align: left;
}
.footable > tbody > tr > td.footable-first-column {
  border-left: none;
}
