html *
{
font-family: Verdana, Geneva, sans-serif !important;
}

h1 {
font-size: 2em;
color: #465864;
text-align: left;
text-shadow: 2px 2px #DDDDDD;
}
h2 {
font-size: 1em;
color: #888888;
font-style: italic;
font-weight: normal;
margin-top: -10px;
}

.mainheading {
font-size: 1.3em;
color: #222222;
text-align: left;
}

.wholedoc {
width: 600px;
margin-left: auto;
margin-right: auto;
}

.docheader {
width: 600px
margin-left: 0px;
}

.docbody {
width: 550px;
margin-left: 30px;
}

.info {
width: 550px;
text-align: left;
}

#footspacer {
height: 40px;
}

a:link {
color: #465864;
}
a:visited {
color: #465864;
}
a:hover {
color: #465864;
font-weight: bold;
}
a:active {
color: #576975;
font-weight: bold;
}

.drivetable {
width: 550px;
border-width: 0px;
border-style: solid;
border-color: #000;
}

.drivetableeven {
background-color: #F2F2F2;
}
.drivetableodd {
background-color: #E8E8E8;
}
.drivetableheader {
background-color: #333333;
color: #F2F2F2;
text-align: left;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}
