/* Global config */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}
html {
  overflow-y: scroll;
}

/* all styles for the header menu */
.wff-document-header {
  height: 36px;
  background-image: -ms-linear-gradient(top, #F0F0F0 0%, #A1A1A1 100%);
  background-image: -moz-linear-gradient(top, #F0F0F0 0%, #A1A1A1 100%);
  background-image: -o-linear-gradient(top, #F0F0F0 0%, #A1A1A1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #A1A1A1));
  background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #A1A1A1 100%);
  background-image: linear-gradient(to bottom, #F0F0F0 0%, #A1A1A1 100%);
  border-bottom: 3px solid #A00;
  border-top: 1px solid #EEE;
  text-align: center;
}
.wff-document-header-limit {
  max-width: 1000px;
  width: 100%;
  display: table;
  margin: 0 auto;
}
.wff-header-logo {
  float: left;
  margin-left: 10px;
  width: 36px;
  height:34px;
  display:block;
  background:transparent url("/static/logo-black.png") center center no-repeat;
}
.wff-header-logo:hover {
  background-image: url("/static/logo-hl.png");
}
.wff-header-navigation {
  float: left;
  height: 36px;
  margin-left: 10px;
}
.wff-header-navigation ul {
  overflow: auto;
  list-style-type: none;
}
.wff-header-navigation li {
  display: table;
  height: 36px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 10px;
}
.wff-header-navigation li:last-child {
  border-right: none;
}
.wff-header-navigation li a {
  display: table-cell;
  vertical-align: middle;
  font-family: Verdana;
  color: #444;
  text-decoration: none;
  word-spacing: -0.05em;
  text-align: left;
  letter-spacing: -1px;
  font-size: 16px;
}
.wff-header-navigation li a:hover {
  color: #A00;
}
.wff-header-navigation li.active a {
  font-weight: bold;
  color: #333;
}
.wff-header-navigation#wff-logout {
  float: right
}

/* the footer */
.wff-document-footer-gae {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

/* the document body*/
.wff-document-body {
  text-align: left;
}
.wff-document-body-limit {
  max-width: 1000px;
  width: 100%;
  display: table;
  margin: 0 auto;
}

.wff-infobox {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #000;
}
.wff-infobox-heading {
  color: #EEE;
  padding: 7;
  background-color: #222;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #000;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  background-image: -ms-linear-gradient(top, #666666 0%, #111111 100%);
  background-image: -moz-linear-gradient(top, #666666 0%, #111111 100%);
  background-image: -o-linear-gradient(top, #666666 0%, #111111 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #111111));
  background-image: -webkit-linear-gradient(top, #666666 0%, #111111 100%);
  background-image: linear-gradient(to bottom, #666666 0%, #111111 100%);
}
.wff-infobox-content {
  font-family: 'Courier New';
  text-align: justify;
  color: #222;
  padding: 5 10 5 10;
  background-color: #F0F0F0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  text-decoration: none;
  word-spacing: 0.1em;
  letter-spacing: -1px;
  font-size: 1em;
  line-height: 1.2em;
}

.wff-infobox-ok-heading {
  color: #EEE;
  padding: 7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #000;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  background-image: -ms-linear-gradient(top, #00AA00 0%, #003300 100%);
  background-image: -moz-linear-gradient(top, #00AA00 0%, #003300 100%);
  background-image: -o-linear-gradient(top, #00AA00 0%, #003300 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00AA00), color-stop(1, #003300));
  background-image: -webkit-linear-gradient(top, #00AA00 0%, #003300 100%);
  background-image: linear-gradient(to bottom, #00AA00 0%, #003300 100%);
}
.wff-infobox-ok-content {
  font-family: 'Courier New';
  text-align: justify;
  color: #222;
  padding: 5 10 5 10;
  background-color: #F0F0F0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  text-decoration: none;
  word-spacing: 0.1em;
  letter-spacing: -1px;
  font-size: 1em;
  line-height: 1.2em;
}
.wff-infobox-warning-heading {
  color: #EEE;
  padding: 7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #000;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  background-image: -ms-linear-gradient(top, #AA0000 0%, #330000 100%);
  background-image: -moz-linear-gradient(top, #AA0000 0%, #330000 100%);
  background-image: -o-linear-gradient(top, #AA0000 0%, #330000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AA0000), color-stop(1, #330000));
  background-image: -webkit-linear-gradient(top, #AA0000 0%, #330000 100%);
  background-image: linear-gradient(to bottom, #AA0000 0%, #330000 100%);
}
.wff-infobox-warning-content {
  font-family: 'Courier New';
  text-align: justify;
  color: #222;
  padding: 5 10 5 10;
  background-color: #F0F0F0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  text-decoration: none;
  word-spacing: 0.1em;
  letter-spacing: -1px;
  font-size: 1em;
  line-height: 1.2em;
}

.wff-footable-container {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #000;
}
.wff-submit-btn {
  background-color: #eee;
  color: #111;
  float: right;
  padding: 7px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 50px;
  height: 20px;
}
.wff-boxes-spreadsheet-heading {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #666666;
  font-size: 1.3em;
  text-align: center;
  border-bottom: 2px solid #666666;
}

.wff-boxes-calendar-container {
  border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  margin-bottom: 0px;
  margin-left: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  padding: 7px;
  width: 70%;
  background-color: #eeeeee;
}

.wff-boxes-calendar-container p {
  font-weight: bold;
}





/*
h1 {
font-size: 2em;
color: #465864;
text-align: left;
text-shadow: 2px 2px #DDDDDD;
}
h2 {
font-size: 1em;
color: #888888;
font-style: italic;
font-weight: normal;
margin-top: -10px;
}

.mainheading {
font-size: 1.3em;
color: #222222;
text-align: left;
}

.wholedoc {
width: 600px;
margin-left: 20px;
margin-right: auto;
}

.docheader {
width: 600px
margin-left: 0px;
}

.docbody {
width: 900px;
margin-left: 30px;
}

.info {
width: 550px;
text-align: left;
}

#footspacer {
height: 40px;
}

a:link {
color: #465864;
text-decoration: none;
}
a:visited {
color: #465864;
text-decoration: none;
}
a:hover {
color: #465864;
text-decoration: underline;
}
a:active {
color: #576975;
text-decoration: underline;
}
.invaliddiv{
}
.invalidheader {
color: #440000;
font-size: 1.3em;
}
.invalidtable {
width: 550px;
border-width: 0px;
border-style: solid;
border-color: #000;
}
.invalidtableeven {
background-color: #FFE3E3;
}
.invalidtableodd {
background-color: #FFD3D3;
}
.invalidtableheader {
background-color: #DD0000;
color: #333333;
text-align: left;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}

.drivetable {
width: 550px;
border-width: 0px;
border-style: solid;
border-color: #000;
}
.drivetableeven {
background-color: #F2F2F2;
}
.drivetableodd {
background-color: #E8E8E8;
}
.drivetableheader {
background-color: #333333;
color: #F2F2F2;
text-align: left;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}

.boxdiv {
width: 900px;
bottom-padding: 20px;
}
.boxdivover {
width: 900px;
bottom-padding: 20px;
border-width: 2px;
border-style: solid;
border-color: #F00;
}
.boxheading {
font-size: 1.3em;   
}
.boxtable {
width: 900px;
border-width: 1px;
border-style: solid;
border-color: #000;
}
.boxtableheader {
background-color: #333333;
color: #F2F2F2;
text-align: left;
}
.pdflink {
padding-left: 15px;
}
.pdflink:link {
color: #F2F2F2;
text-decoration: none;
}
.pdflink:visited {
color: #F2F2F2;
text-decoration: none;
}
.pdflink:hover {
color: #FFFFFF;
text-decoration: underline;
}
.pdflink:active {
color: #FFFFFF;
text-decoration: underline;
}
.boxtableeven {
background-color: #F2F2F2;
}
.boxtableodd {
background-color: #E8E8E8;
}
#boxspacer {
height: 15px;
}
.menu {
}
.menuheader {
font-size: 1.1em;
color: #333333;
}
.menuitem {
font-size: 1.1em;
padding-left: 10px;
}

.menu2 {
}
.menuheader2 {
font-size: 0.9em;
color: #888888;
}
.menuitem2 {
font-size: 0.9em;
color: #888888;
font-style: italic;
}
*/


