$def with (sscoll, ud, info)

$# set all statically loaded files for this template
$var cssfiles: //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css /static/css/footable.core.min.css /static/css/footable.wff.min.css /static/css/wff.min.css
$var jsfiles: //ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js /static/js/footable.min.js /static/js/footable.filter.js
$var title: webFlipFlapp
$var login_link: $info['login_url']
$var auth_link: $info['auth_url']
$var logout_link: $info['logout_url']
$var user_email: $info['email']
$var nickname: $info['nickname']
$var has_cred: $info['has_cred']

$ SPREADSHEETS = ud.spreadsheet_name.split(',')
$ CALENDARS = ud.calendar_name.split(',')
$ SSID = ud.spreadsheet_id.split(',')
$ CLID = ud.calendar_id.split(',')

<script>
    $for ssid, ssname in zip(SSID,SPREADSHEETS):
        $$(function() {
            $$.get('/spreadsheet', { ssid: "$(ssid)" }, function(data) {
            var html = jQuery("<div>").html(data);
            var boxes = html.find('.wff-boxcontainer').children('.wff-box');
            for (var i=0;i<boxes.length;i++)
            {
                var box = boxes.eq(i);
                var BoxHeader = "";
                BoxHeader += "<div class='wff-boxes-calendar-container wff-minimized' id='boxheader" + i + "'>";
                BoxHeader += "<p><span><strong><a></a></strong></span>";
                BoxHeader += "<p><span><strong><a onclick='viewBox("+i+")'></a></strong></span>"
                BoxHeader += "<span>scheduled: </span>";
                BoxHeader += "<span><a href='/boxes?flipped=True&ssid=$(ssid)&boxname='></a></span></div>";
                box.prepend(BoxHeader);
                $$("#wff-boxes-container-$(ssid)").append(box);
            };
            $$('#wff-boxes-heading-$(ssid) a').text('$(ssname)');
            $$(".footable").footable();
            $$(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });
            });
        });
    var viewBox = function( num ) {
        $$("#boxheader" + num).toggleClass('wff-minimized');
        $$("#boxdata" + num).toggle('fast');
        $$(".footable").resize();
    };
    var viewAllBoxes = function( num, Nb ) {
        k = parseInt(num) + 1;
        N = k + parseInt(Nb);
        while (k < N) { viewBox(k); k = k + 1; };
    };
    
</script>

<div class='wff-infobox'>
    <p class='wff-infobox-heading'>Boxes</p>
    <p class='wff-infobox-content'>If you want to modify some entries in your Boxes, please do that via the <a href="https://drive.google.com">Google Drive</a> web interface. Refresh this page after.</p>
</div>

<div class='wff-infobox'>
    <p class='wff-infobox-heading'>Search</p>
    <p class='wff-infobox-content'>filter all items for <input id="filter" type="text"/>.</p>
</div>

<div class="wff-all-boxes-expand">
$for ssid, ssname in zip(SSID,SPREADSHEETS):
    <p class='wff-boxes-spreadsheet-heading' id="wff-boxes-spreadsheet-heading-$(ssid)"><a>$(ssname) loading...</a></p>
    <div class='wff-boxes-spreadsheet-container' id="wff-boxes-spreadsheet-container-$(ssid)"></div>

<div>
