$def with (boxes, ss, cl)
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/webflipflapp.css" /> 
<script src="/static/jquery-2.0.3.min.js"></script>
<script>
</script>
</head>
<body>
<div class="wholedoc">    
<div class="docheader">
<h1><a href="/">WebFlipFlapp</a></h1>
<h2>from __past__ import why_do_i_forget_that_every_single_time<br/>
from __future__ import webflipflapp!</h2>
</div>
<div class="menu">
    <span class="menuheader">menu:</span>
    <span class="menuitem"><a href="/drive">choose spreadsheet</a></span>
    <span class="menuitem"><a href="/calendar">choose calendar</a></span>
    <span class="menuitem"><a href="/boxes">view boxes</a></span>
</div> 
<div class="menu2">
    <span class="menuheader2">using:</span>
    <span class="menuitem2">ss '$ss'</span>
    <span class="menuheader2">and</span>
    <span class="menuitem2">cal '$cl'</span>
</div> 
<div class="docbody">

<p class='mainheading' style='color:#7A1C1C'>Warning: lazy programmer</p>
<div class='info'>If you want to modify some entries in the stock spreadsheet, please do that via the <a href="https://drive.google.com">Google Drive</a> web interface. And do not bug the developer.</div>

<p class='mainheading'>Your Boxes</p>

$for box in boxes:
    $ name = box['name']
    $ boxid = box['ssid']
    $ labels = box['labels']
    $ Nlabels = max(labels.keys())
    $ flies = box['flies']
    $ modified = box.get('modified', 'flipped: N/A')
    <div class='boxdiv'>
    <table class='boxtable'>
    <tr class='boxtableheader'>
        <th colspan="$(Nlabels)">$(name) <a href="/boxes?ssid=$(boxid)&boxname=$(name)&pdf=True" class='pdflink' target='_blank'>pdf-labels</a></th>
    </tr>
    <tr class='boxtableheader'>
    $for i in range(1,Nlabels+1):
        <th>$(box['labels'].get(i, ''))</th>
    </tr>
    $for fly in flies:
        $if loop.even:
            <tr class='boxtableeven'>
        $else:
            <tr class='boxtableodd'>
        $for i in range(1,Nlabels+1):
            <td style='text-align:center'>$fly.get(labels.get(i,''),'')</td>
        </tr>
    </table>
    </div>
    <div id='boxcalender'>
    $if box['mode'] == 'BOXADD':
        <span>new box?</span>
        <span><a href=''>add_to_calendar</a></span>
        <span>$(modified)</span>
    $elif box['mode'] == 'BOXOVERRIDE':
        <span>WARNING box has an id! did you switch the calendar, or is this a box from someone else?</span>
        <span><a href=''>override id and add_to_calendar</a></span>
    $else:
        <span>box:</span>
        <span>lastModified:</span>
        <span>scheduled next:</span>
    <span><a href='/boxes?flipped=True&ssid=$(boxid)&boxname=$(name)'>flipped</a></span>
    </div>
    <div id='boxspacer'></div>
</div>

<div id='footspacer'></div>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
</div>
</body>
</html>
