$def with (content)
$ active0 = 'class="active"' if content.page == 'config' else ''
$ active1 = 'class="active"' if content.page == 'boxes' else ''
$ active2 = 'class="active"' if content.page == 'flies' else ''
$ active3 = 'class="active"' if content.page == 'help' else ''

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebFlipFlapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="spreadsheet sharing for flystocks">
    <meta name="author" content="Andreas Poehlmann">

    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/footable.core.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        }
        @media (max-width: 979px) {
          body {
            padding-top: 0px;
          }
        }
    </style>    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">WebFlipFlapp</a>

          <div class="nav-collapse collapse">
          <ul class="nav">
              <li $:active0 ><a href="/config"><i class="icon-cogs"></i> Config</a></li>
              <li $:active1 ><a href="/boxes"><i class="icon-archive"></i> Boxes</a></li>
              <li $:active2 ><a href="/flies"><i class="icon-bug"></i> Flies</a></li>
              <li $:active3 ><a href="/help"><i class="icon-question-sign"></i> Help</a></li>
          </ul>
          <ul class="nav pull-right">
              $if content.has_cred:
                  <li><a href="$:content.logout_link" title="$content.user_email">Sign out</a></li>
              $else:
                  <li><a href="$:content.login_link">Sign in</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    $:content

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/footable.min.js"></script>
    <script src="/static/js/footable.filter.min.js"></script>
    <script src="/static/js/footable.sort.min.js"></script>
    $for jsfile in content.get('jsfiles','').split():
        $if len(jsfile) != 0:
            <script src="$jsfile"></script>
    <script type="text/javascript">
        $$('.nav-tabs').button();
        $$(".collapse").collapse()
        $$(function () {
             $$('.table').footable();
        });
        $:content.get('jscode', '')
    </script>
  </body>
</html>

