$def with (cl, ud, info)

$# set all statically loaded files for this template
$var cssfiles: /static/wff.css /static/footable.core.css /static/footable.standalone.css
$var jsfiles: /static/jquery-2.0.3.min.js /static/footable.js
$var title: webFlipFlapp
$var login_link: $info['login_url']
$var auth_link: $info['auth_url']
$var logout_link: $info['logout_url']
$var user_email: $info['email']
$var nickname: $info['nickname']
$var has_cred: $info['has_cred']

$ SPREADSHEETS = ud.spreadsheet_name.split(',')
$ CALENDARS = ud.calendar_name.split(',')
$ SSID = ud.spreadsheet_id.split(',')
$ CLID = ud.calendar_id.split(',')

<!--
<script>
    $$(function() {
        $$('.footable').footable();
    });
</script>
-->

<div class='wff-infobox'>
    <p class='wff-infobox-heading'>Calendar selection</p>
    <p class='wff-infobox-content'>Choose one or several calendars that are going to be used for scheduling the boxes. If you want to create a new calendar, please do that via the <a href="https://www.google.com/calendar">Google Calendar</a> web interface. Refresh this page after.</p>
</div>
    
<form name='input' action="/calendar" method='get'>
<div class='wff-footable-container'>
<table class='footable'>
<thead>
    <tr class=''>
        <th>Calendar</th>
        <th>Choice</th>
    </tr>
</thead>
<tbody>
$for ccc in sorted(cl, key=(lambda x: x['summary'])):
    $ checked = 'checked' if ccc['id'] in CLID else ''
    <tr>
    <td>$(ccc['summary'])</td>
    <td style="text-align: center"><input type='checkbox' name='selected' value="$(ccc['id'])" $(checked)/></td>
    </tr>
</tbody>
</table>
</div>
<div class='info' style='text-align:right'><input type='submit' style='wff-submit-btn' value='Choose'></div>
</form>


