$def with (tree, ud, invalid, info)

$# set all statically loaded files for this template
$var cssfiles: /static/wff.css /static/footable.core.css /static/footable.standalone.css
$var jsfiles: /static/jquery-2.0.3.min.js /static/footable.js
$var title: webFlipFlapp
$var login_link: $info['login_url']
$var auth_link: $info['auth_url']
$var logout_link: $info['logout_url']
$var user_email: $info['email']
$var nickname: $info['nickname']
$var has_cred: $info['has_cred']

$ SPREADSHEETS = ud.spreadsheet_name.split(',')
$ CALENDARS = ud.calendar_name.split(',')
$ SSID = ud.spreadsheet_id.split(',')
$ CLID = ud.calendar_id.split(',')

<!--
<script>
    $$(function() {
        $$('.footable').footable();
    });
</script>
-->
<!-- THE INVALID ERROR -->
$if invalid:
    <div class="invaliddiv">
    <p class="invalidheader">INVALID SPREADSHEETS. no Webflipflap Flystock spreadsheets.</p>
    <table class="invalidtable">
    <tr class='invalidtableheader'>
        <th>Name</th>
        <th>ID</th>
    </tr>
    $for issid in invalid:
        $ iname = tree.get_first_where(lambda k: k['id'] == issid)['title']
        $if loop.even:
            <tr class='invalidtableeven'>
        $else:
            <tr class='invalidtableodd'>
        <td>$(iname)</td>
        <td>$(issid)</td>
        </tr>
    </table>
    </div> 

<div class='wff-infobox'>
    <p class='wff-infobox-heading'>Spreadsheet selection</p>
    <p class='wff-infobox-content'>Choose one or several compatible spreadsheet files that are going to be displayed. If you want to create a new spreadsheet, please do that via the <a href="https://drive.google.com">Google Drive</a> web interface: Choose one of the offered template(s) (<a href='/static/flytemplate.ods'>flytemplate</a>), upload and import it to your Google Drive and rename it to whatever you like. Refresh this page after. Currently there's only one template.</p>
</div>

<form name='input' action="/drive" method='get'>
    
<div class='wff-footable-container'>
<table class='footable'>
<thead>
    <tr class=''>
        <th>Filename</th>
        <th>Choice</th>
    </tr>
</thead>
<tbody>
$ kfunc = lambda x: ('folder' not in x['mimeType'], x['title'])
$ ffunc = lambda x: x['mimeType'] == 'application/vnd.google-apps.spreadsheet'
$for name, node in tree.flatten_names(key=kfunc, filter=ffunc):
    $ checked = 'checked ' if node['id'] in SSID else ' '
    <tr>
    <td>$name</td>

    <td style="text-align: center"><input type='checkbox' name='selected' value="$(node['id'])" $(checked)/></td>
    </tr>
</tbody>
</table>
</div>

<div class='info' style='text-align:right'><input type='submit' style='wff-submit-btn' value='Choose'></div>
</form>

</div>

