$def with (tree, ident)
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/webflipflapp.css" /> 
<script src="/static/jquery-2.0.3.min.js"></script>
<script>
</script>
</head>
<body>
<div class="wholedoc">    
<div class="docheader">
<h1>WebFlipFlapp</h1>
<h2>from __past__ import why_do_i_forget_that_every_single_time<br/>
from __future__ import webflipflapp!</h2>
</div>
    
<div class="docbody">

<p class='mainheading' style='color:#7A1C1C'>Warning: lazy programmer</p>
<div class='info'>If you want to create a new spreadsheet, please do that via the <a href="https://drive.google.com">Google Drive</a> web interface. Choose one of the offered template(s) (<a href='/static/flytemplate.blah'>flytemplate</a>), upload it to your Google Drive and name it after your grandma's uncle's second dog. Refresh this page after and do not bug the developer. Currently there's only one template.</div>
<p class='mainheading'>Your Google Drive</p>
<div class='info'>Choose a compatible spreadsheet file that is used as the storage backend for your things.</div>
<form action="">
<table class='drivetable'>
    <tr class='drivetableheader'>
        <th>Filename</th>
        <th>Choice</th>
    </tr>
$for level, value in tree.walkthrough():
    $ name = ident[value.file_id]['title']
    $ icon = ident[value.file_id]['iconLink']
    $ ind = 20*level+6
    $if loop.even:
        <tr class='drivetableeven'>
    $else:
        <tr class='drivetableodd'>
    <td style='text-align:left'>        
    <div style='text-indent:$(ind)px'><img src="$(icon)"/>$name</div>
    </td>
    <td style='text-align:center'>
    <input type="radio" name="sheet" value="$value.file_id"></td>
    </tr>
</table>
</form>
</div>

<div id='footspacer'></div>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
</div>
</body>
</html>
