$def with (ud, info)
$# set all statically loaded files for this template
$var title: webFlipFlapp
$var login_link: $info['login_url']
$var auth_link: $info['auth_url']
$var logout_link: $info['logout_url']
$var user_email: $info['email']
$var nickname: $info['nickname']
$var has_cred: $info['has_cred']
$var page: flies
$ SPREADSHEETS = ud.spreadsheet_name.split(',')
$ CALENDARS = ud.calendar_name.split(',')
$ SSID = ud.spreadsheet_id.split(',')
$ CLID = ud.calendar_id.split(',')
$var jsfiles: /static/js/wff.min.js
$var jscode: $:"wffFliesSetup(); $('.myremoveclick').click(function(e){e.stopPropagation();});"
<div class="container">
  <h3>Flies in your Stocklists</h3>
  <p>Loading: 
    $for ssid, ssname in zip(SSID, SPREADSHEETS):
        <span id="wff-box-loader-$ssid" class="label label-warning">$ssname <i class="icon-spinner icon-spin"></i></span>
        <iframe id="wff-flies-workaround-$(ssid)" style="display:none" src="/flydata?ssid=$(ssid    )&ssname=$(ssname)"></iframe>
  </p>
  <div id="wff-box-error"></div>

  <div class="row-fluid">
    <div class="span6">
      <form class="form-inline">
        <fieldset>
          <legend>Search</legend>
          <label>Match:</label>
          <input id="filter" type="text" placeholder="foo bar baz ..."/>
          <label>Stocklist:</label>
          <select class="filter-status">
                 <option></option>
                 $for (slid, sln) in zip(SSID,SPREADSHEETS):
                     <option value="$slid">$sln</option>
          </select>
        </fieldset>
      </form>
    </div>
    <div class="span6">
      <form class="form-inline pull-left" id="wff-flies-labels-form" action='/labels' method="post" target="_blank">
          <fieldset>
          <legend>Labels</legend>
            <input type="hidden" id="wff-flies-labels-form-data" name="tabledata" value="" />
            <label>Selected:</label>
            <input class="input-mini" type="text" id="wff-selected-N" value="0" disabled/>
            <button type="button" onclick="wffFliesGetData('selected')" class="btn">get selected</button>
            <button type="button" onclick="wffFliesClearSelected()" class="btn">clear selected</button>
            <button type="button" onclick="wffFliesGetData('visible')" class="btn">get visible</button>
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cogs"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                <a class="myremoveclick" tabindex='-1' href='#'>skip <input class="input-mini" type="text" value="0" name="skip"></a>  
                </li>
                <li>
                <a class="myremoveclick" tabindex='-1' href='#'>repeat <input class="input-mini" type="text" value="1" name="repeats"></a>  
                </li>
              </ul>
            </div>
          </fieldset>

      </form>
    </div>
  </div>

  <table class="footable table" data-filter="#filter" data-filter-text-only="true">
    <thead>
      <tr>
        <th data-toggle="true">Label</th>
        <th>Short Identifier</th>
        <th data-hide="phone,tablet">Genotype</th>
        <th data-hide="all">X</th>
        <th data-hide="all">Y</th>
        <th data-hide="all">C2a</th>
        <th data-hide="all">C2b</th>
        <th data-hide="all">C3a</th>
        <th data-hide="all">C3b</th>
        <th data-hide="all">Extra info</th>
        <th data-hide="all">Mod</th>
        <th data-hide="phone">Box</th>
        <th data-hide="phone">Stocklist</th>
        <th></th>
      </tr>
    </thead>
    $for ssid in SSID:
        <tbody id="wff-boxes-flies-$(ssid)"></tbody>
  </table>
</div>
