$def with (status, ssid, ssname, boxes, statusText)
$#
$# displays all flies in a spreadsheet
$#
<!DOCTYPE html>
<html><head><meta charset="UTF-8"><title>WFF - Spreadsheet - $(ssname)</title></head>
<body>
$if status == 'OK':
    <table><tbody>
    $for box in boxes:
        $for fly in box['flies']:
            <tr>
            <td>$:(fly['Label'])</td>
            <td>$:(fly['Short Identifier'])</td>
            <td>$:(fly['Genotype'])</td>
            <td>$:(fly['X'])</td>
            <td>$:(fly['Y'])</td>
            <td>$:(fly['C2a'])</td>
            <td>$:(fly['C2b'])</td>
            <td>$:(fly['C3a'])</td>
            <td>$:(fly['C3b'])</td>
            <td>$:(fly['Extra info'])</td>
            <td>$:(fly['Mod'])</td>
            <td>$:(box['name'])</td>
            <td data-value="$ssid">$ssname</td>
            </tr>
    </tbody></table><script>
    window.onload = function() { parent.wffFliesLoaded('$ssid'); };
    </script>
$elif status == 'ERROR':
    <h1>Error:</h1>
    <p>$statusText</p>
    <script>
        window.onload = function() { parent.wffFliesError('$ssid', '<strong>$ssname</strong> '+'$:statusText'); };
    </script>
$else:
    <h1>ImpossibleError:</h1><h2></h2>
    <p>This is not supposed to happen! Run!</p>
    <script>
    window.onload = function() { parent.wffImpossibleError(); };
    </script>
$#
</body></html>
