$def with (credentials, auth_url)
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/webflipflapp.css" /> 
<script src="/static/jquery-2.0.3.min.js"></script>
<script>
</script>
</head>
<body>
<div class="wholedoc">    
<div class="docheader">
<h1>WebFlipFlapp</h1>
<h2>from __past__ import why_do_i_forget_that_every_single_time<br/>
from __future__ import webflipflapp!</h2>
</div>
    
<div class="docbody">

<p class='mainheading' style='color:#7A1C1C'>Warning: lazy programmer</p>
<div class='info'>The interactive web 3.0 online cloud based WebFlipFlapp Google App Engine App is currently in pre alpha development state. Use it only if your desperate. And make sure to not bug the developer.</div>

<p class='mainheading'>About</p>
<div class='info'>WebFlipFlapp is a online tool for managing things that you store in boxes, and that need your attention every now and then. It's powered by Google App Engine and uses Google Drive and Google Calendar as backends for managing all important information. It allows you to easily share the "databases" (excel-sheets) and "schedules" (calendars) with friends or colleagues or colleagues who are friends.</div>

<p class='mainheading'>Access</p>
<div class='info'>
$if credentials:    
    Thank you. You granted WebFlipFlapp access to your Google Drive account and your Google Calendar account. <span style='color:#CCCCCC;font-style:italic'>MUHAHAHAHAHAHA...</span>
$else:
    You did not grant WebFlipFlapp access yet. To be of any use, please <a href="$(auth_url)">grant access</a> to your Google Drive account and your Google Calendar account.
</div>

</div>
<div id='footspacer'></div>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
</div>
</body>
</html>
