$def with (info)

$# set all statically loaded files for this template
$var cssfiles:
$var jsfiles: 
$var title: webFlipFlapp
$var login_link: $info['login_url']
$var auth_link: $info['auth_url']
$var logout_link: $info['logout_url']
$var user_email: $info['email']
$var nickname: $info['nickname']
$var has_cred: $info['has_cred']
$var page: utils

<div class="container">
    
<form>
  <fieldset>
    <legend>Crossing scheme</legend>
    <div class="row">
      <div class="span6">
        <label> </label>        

      </div>
      
      
      <div class="span6">
      </div>

    <label>female fly</label>
    <input type="text" placeholder="Type something…">
    <button type="submit" class="btn">Submit</button>

    </div>    
  </fieldset>
</form>



</div>

