$def with (ssid, ssname, boxes, showflies, ud, info)

$# set all statically loaded files for this template
$var title: webFlipFlapp
$var login_link: $info['login_url']
$var auth_link: $info['auth_url']
$var logout_link: $info['logout_url']
$var user_email: $info['email']
$var nickname: $info['nickname']
$var has_cred: $info['has_cred']
$var page: spreadsheets

<html>
<head>
  <title>WebFlipFlapp - Spreadsheet</title>
</head>
<body>

<div class="container">

  <ul class="breadcrumb">
    <li><strong>$(ssname)</strong> <span class="divider">|</span></li>
    <li><a href="/labels?ssid=$(ssid)" target="_blank" title="generate labels for all boxes in stocklist"><i class="icon-file-alt"></i> Labels</a> <span class="divider">|</span></li>
    <li><a href="#"><i class="icon-calendar"></i> Config</a></li>
  </ul>

  <ul class="thumbnails">
  $for num, box in enumerate(boxes):
      $ name = box['name']
      $ _labels = box['labels']
      $ M = max(_labels.keys())
      $ labels = [_labels.get(i) for i in range(M) if _labels.get(i) is not None]
      $ flies = box['flies']
      $ N = len(flies)
      $ urlname = box['urlname']
      <li class="span3">
        <div class="thumbnail">
                <table class='table table-condensed'>
                    <thead>
                        <tr>
                            <th colspan=2>
                                <span><strong class="pull-left">$name</strong>
                                    <a class="pull-right" href="/labels?ssid=$(ssid)&box=$(urlname)" target="_blank" title="generate labels for this box"><i class="icon-file-alt"></i></a></span>
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td><em># flies</em></td>
                            <td><div class="text-center"><span class="badge">$N</span></div></td>  
                        </tr>
                        <tr>
                            <td><em>flipped:</em></td>
                            <td><div class="text-center">$(box['flipped'])</div></td>
                        </tr>
                    </tbody>
          </table>
        </div>
      </li>
  
  </ul>
</div>    
    
</body>
</html>
