$def with (ssid, boxes)
<html>
<head>
  <title>WebFlipFlapp - Spreadsheet</title>
</head>
<body>

<h1>Spreadsheet: $(ssid)</h1>

$for num, box in enumerate(boxes):
    $ _labels = box['labels']
    $ M = max(_labels.keys())
    $ labels = [_labels.get(i) for i in range(M) if _labels.get(i) is not None]
    $ flies = box['flies']
    <div class='wff-box' id='wff-box-$(ssid)-$(num)'>    
      <div class='wff-box-meta' id='wff-box-meta-$(ssid)-$(num)'>
          <h2><span class="wff-hide">Box: </span>
              <span class="wff-box-meta-name">$(box['name'])</span></h2>
        <ul>
          <li>ssId: <span class="wff-box-meta-ssid">$(box['ssid'])</span></li>
          <li>wsId: <span class="wff-box-meta-wsid">$(box['wsid'])</span></li>
          <li>calId: <span class="wff-box-meta-calid">$(box['calid'])</span></li>
          <li>flipped: <span class="wff-box-meta-flipped">$(box['flipped'])</span></li>
        </ul>
      </div>   
      <div class="wff-box-data" id='wff-box-data-$(ssid)-$(num)'>
        <table data-filter="#filter" class='footable table toggle-arrow-tiny'>
          <thead>
            <tr>
              $for label in labels:
                  $if label == 'Label':
                      <th data-class='expand'>$(label)</th>
                  $elif label == 'Short Identifier':
                      <th>$(label)</th>
                  $elif label in ['X', 'Y', 'C2a', 'C2b', 'C3a','C3b']:
                      <th data-hide='all'>$(label)</th>
                  $else:
                      <th data-hide='phone'>$(label)</th>
            </tr>
          </thead>
          <tbody>
            $for fly in flies:
                <tr>$:"".join(["<td>%s</td>" % fly.get(label, '') for label in labels])</tr>
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>
